In [3]:
import pandas as pd

# lakeFS credentials from your docker-compose.yml
ACCESS_KEY = "access_key"
SECRET_KEY = "secret_key"

# lakeFS endpoint (running locally)
lakefs_endpoint = "http://lakefs-dev:8000/"

# Construct the full lakeFS S3-compatible path
lakefs_s3_path = f"s3a://{repo}/{branch}/{path}"

# Configure storage_options for lakeFS (S3-compatible)
storage_options = {
    "key": ACCESS_KEY,
    "secret": SECRET_KEY,
    "client_kwargs": {
        "endpoint_url": lakefs_endpoint
    }
}
path_all_partition = 's3a://weather/main/firms.parquet'
df2=pd.read_parquet(    
    path=path_all_partition,
    storage_options=storage_options
)
df2.info()
df2.head()

NameError: name 'repo' is not defined

In [4]:
# Set up environments of LakeFS
lakefs_endpoint = "http://lakefs-dev:8000/"
ACCESS_KEY = "access_key"
SECRET_KEY = "secret_key"

# Setting S3FileSystem for access LakeFS
fs = {
    "key": ACCESS_KEY,
    "secret": SECRET_KEY,
    "client_kwargs": {'endpoint_url': lakefs_endpoint}
}

In [5]:
def query_parquet_data():
    firms_lakefs_path = "s3://weather/main/firms.parquet"
    df_firms = pd.read_parquet(    
                path=firms_lakefs_path,
                storage_options=fs
)
    df_firms.drop_duplicates(inplace=True)
    df_firms['acq_date'] = pd.to_datetime(df_firms['acq_date']).dt.date

    return df_firms

In [6]:
df = query_parquet_data()

In [6]:
df

,country_id,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,...,frp,daynight,acq_datetime,acq_datetime_th,timestamp,acq_year,acq_month,acq_day,acq_hour,acq_minute
0,THA,15.56565,100.18042,318.63,1.32,1.14,2025-05-17,07:37:00,Aqua,MODIS,...,11.63,D,2025-05-17 07:37:00,2025-05-17 14:37:00+07:00,2025-05-17 14:37:00,2025,5,17,14,37
1,THA,15.87977,99.83833,322.24,1.37,1.16,2025-05-17,07:37:00,Aqua,MODIS,...,15.00,D,2025-05-17 07:37:00,2025-05-17 14:37:00+07:00,2025-05-17 14:37:00,2025,5,17,14,37
2,THA,16.43804,99.79090,323.16,1.36,1.15,2025-05-17,07:37:00,Aqua,MODIS,...,15.48,D,2025-05-17 07:37:00,2025-05-17 14:37:00+07:00,2025-05-17 14:37:00,2025,5,17,14,37
3,THA,16.44005,99.80314,325.32,1.35,1.15,2025-05-17,07:37:00,Aqua,MODIS,...,18.98,D,2025-05-17 07:37:00,2025-05-17 14:37:00+07:00,2025-05-17 14:37:00,2025,5,17,14,37
4,THA,16.92749,100.39861,318.60,1.23,1.10,2025-05-17,07:37:00,Aqua,MODIS,...,10.26,D,2025-05-17 07:37:00,2025-05-17 14:37:00+07:00,2025-05-17 14:37:00,2025,5,17,14,37
5,THA,14.06868,101.83499,316.72,1.01,1.00,2025-05-18,02:43:00,Terra,MODIS,...,6.78,D,2025-05-18 02:43:00,2025-05-18 09:43:00+07:00,2025-05-18 09:43:00,2025,5,18,9,43